.container{
    display: flex;
    top: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 90px;
}

@media only screen and (max-width: 650px) {
    .phoneImage{
      display:none;
    }
    .title {
      font-size: 2em;
    }
  }